body {
    /* background-color: rgb(24, 22, 22); */
    font-family: arial;
    color: rgb(32, 30, 30);
    font-size: 1em;
    line-height: 1em;
    margin: 0mm !important;
    padding: 0mm !important;
}

#text {
    /* margin: auto; */

    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    line-height: 20px;
}

.word {
    display: inline-flex;
}

.ouf {
    display: block;
    position: relative;
    transform-origin: center;
    touch-action: none;
    transition: all 2s;
    white-space: nowrap;
}

.space {
    width: 5px;
}

.ef {
    width: 5px;
}

.partie {
    height: 200px;
    width: 50vw;
}

#partie1 {
    height: 200px;
    width: 50vw;
    /* background: red; */
}

#partie2 {
    height: 200px;
    width: 50vw;
    /* background: blue; */
}

#partie3 {
    height: 200px;
    width: 50vw;
    /* background: green; */
}